body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
	font-size: 16px;
}

/* Home Page Styles */
.home-page #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.home-page header h1 {
    font-size: 3rem;
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}

.home-page #description {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 3.75rem;
}

.home-page #content {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.home-page #content input {
    padding: 0.625rem;
    font-size: 1.2rem;
    width: 80%;
    max-width: 31.25rem;
}

.home-page #content button {
    padding: 0.625rem 1.25rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.home-page #content button:hover {
    background-color: #0056b3;
}

.home-page #info-text {
    margin-top: 1.875rem;
    font-size: 1rem;
    color: gray;
}

/* Document Page Styles */
.document-page #page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    max-width: 50rem;
    margin: auto;
}

.document-page header h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.document-page #editor {
    width: 100%;
    margin-bottom: 1.25rem;
}

.document-page #text-editor {
    width: 100%;
    height: 18.75rem;
    padding: 0.625rem;
    font-size: 1rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.3125rem;
    resize: vertical;
}

.document-page #documents-container {
    width: 100%;
    max-height: 25rem;
    overflow-y: auto; /* Enable vertical scrolling */
}

.document-page #documents {
    width: 100%;
    text-align: center;
}

.document-page h2 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

.document-page #file-input {
    margin-bottom: 0.625rem;
}

.document-page #file-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.document-page #file-list li {
    margin: 0.3125rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.document-page #file-list li button.delete-button {
    margin-left: 0.625rem;
    padding: 0.3125rem;
    font-size: 1.2rem;
    color: black; /* Default text color */
    background: none; /* No background color */
    border: none; /* No border */
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.document-page #file-list li button.delete-button:hover {
    color: red;
}

.document-page #file-list li button.delete-button:active {
    color: darkred;
    transform: scale(0.9);
}

.document-page button {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.document-page button:hover {
    background-color: #0056b3;
}

.document-page .download-btn {
    padding: 0.3125rem 0.9375rem;
    font-size: 0.9rem;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.document-page .download-btn:hover {
    background-color: black;
    color: white;
}

/* Modal styling */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 1.25rem;
    border: 0.0625rem solid #888;
    width: 18.75rem;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	cursor: pointer;
}

#error-message {
	color: red;
	margin-top: 1rem;
	opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out {
	opacity: 0 !important;
}

.disclaimer {
    color: #cc0000; /* Toned-down red color */
    font-size: 0.7em; /* Slightly smaller font size */
    margin-bottom: 0.5rem; /* Add some space below the disclaimer */
	display: block;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .document-page #text-editor {
        height: 15rem; /* Adjust text editor height for smaller screens */
		width: 95%;
    }

    .document-page .download-btn {
        width: 100%;
        padding: 0.625rem; /* Slightly larger padding for touch interaction */
    }
}

